## Jupyter hotkey 
https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330

In [7]:
#print Hello Python 101
print("Hello Python 101")

Hello Python 101

## Type of data
integer, float, string, Boolean (for True and False)
True corresponds to 1 while False corresponds to 0

In [11]:
type(11)

int

In [12]:
type(21.213)

float

In [13]:
type("Hello Python 101")

str

In [14]:
float(2)

2.0

In [15]:
int(1.1)

1

In [20]:
int("1")

1

In [17]:
int("A")

ValueError: invalid literal for int() with base 10: 'A'

In [21]:
str(4.5)

'4.5'

In [22]:
type(True)

bool

In [27]:
bool(1)

True

In [28]:
bool(0)

False

In [24]:
int(True)

1

In [25]:
float(True)

1.0

In [26]:
float(False)

0.0

In [29]:
type(int(1.0))

int

In [30]:
bool(2)

True

In [31]:
bool(-2)

True

## Expressions and Variables

In [32]:
25/6

4.166666666666667

In [76]:
#to round them
25//6

4

In [78]:
type(6/2)

float

In [79]:
type(6//2)

int

In [35]:
x = (3+5)*10
print(x)

80

In [36]:
y = x/3
type(y)

float

In [39]:
y = x/4
print(y)
print(type(y))

20.0
<class 'float'>

## String Operations

In [40]:
Name = "Michael Jackson"
print(Name[0])
print(Name[6])
print(Name[7])
print(Name[13])

M
l

o

In [42]:
#negative index
print(Name[-1])
print(Name[-2])
print(Name[-7])
print(Name[-8])
print(Name[-15])

n
o
J

M

In [44]:
#slicing

print(Name[0:4])
print(Name[:4])
print(Name[8:12])
print(Name[8:])

Mich
Mich
Jack
Jackson

In [51]:
#stride

print(Name[0],Name[2],Name[4],Name[6],Name[8],Name[10],Name[12],Name[14])
print(Name[::2])

M c a l J c s n
McalJcsn

In [52]:
print(Name[0],Name[2],Name[4])
print(Name[0:5:2])

M c a
Mca

In [53]:
len(Name)

15

In [56]:
Statement = Name + " is the best"
print(Statement)

Michael Jackson is the best

In [57]:
Statement_3 = 3 * Name
print(Statement_3)

Michael JacksonMichael JacksonMichael Jackson

In [59]:
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [60]:
print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [61]:
print("Michael Jackson \\ is the best")

Michael Jackson \ is the best

In [62]:
print(r"Michael Jackson \n is the best")

Michael Jackson \n is the best

In [63]:
Name_capslock = Name.upper()
Name_capslock

'MICHAEL JACKSON'

In [71]:
Name_capslock.lower()

'michael jackson'

In [72]:
"uppercase".upper()

'UPPERCASE'

In [65]:
Name.replace("Michael", "Janet")

'Janet Jackson'

In [66]:
Name

'Michael Jackson'

In [67]:
Name.find("el")

5

In [68]:
Name.find("Jack")

8

In [69]:
Name.find("not in the string")

-1

In [70]:
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

In [73]:
Letters.find("A")

0

In [74]:
Letters.find("J")

9

In [75]:
A = "1"
B = "2"
C = A+B
C

'12'